{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block body %}
<div class="container my-4 py-0">
    <br>
    <h1 class="text-center">SaurabhComputer and RailInfra!</h1>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://source.unsplash.com/1600x1000/?about,store" class="d-block w-100" alt="...">
            </div>         
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <p>SaurabhComputer and rair infra is an Indian e-commerce company based in Bangalore, Karnataka, India. 
               It was founded by Sachin Bansal and Binny Bansal in 2007. The company initially 
               focused on book sales, before expanding into other product categories such as consumer 
               electronics, fashion, home essentials & groceries, and lifestyle products.
               The service competes primarily with Amazon's Indian subsidiary, and the domestic rival
                Snapdeal.[8][9] As of March 2017, Flipkart held a 39.5% market share of India's 
                e-commerce industry.[10] Flipkart is significantly dominant in the sale of apparel 
                (a position that was bolstered by its acquisition of Myntra), and was described as being 
                "neck and neck" with Amazon in the sale of electronics and mobile phones.[11] Flipkart 
                also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).
            </p>
        </div>
    </div>
</div>
{% endblock body %}